## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
0,0,Georgetown,MY,82.89,few clouds,5.4112,100.3354,Cititel Penang
1,2,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,9,Constantine,DZ,81.81,clear sky,36.3650,6.6147,Grand Hotel Cirta
3,19,Atuona,PF,76.66,clear sky,-9.8000,-139.0333,Villa Enata
4,20,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort

In [28]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [29]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [145]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "San Sebastian"]
vacation_end = vacation_df.loc[vacation_df["City"] == "San Sebastian"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Soyaux"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Vincennes"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hauterive"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
48,176,Hauterive,FR,77.76,broken clouds,46.0901,3.4459,Aletti Palace Hotel

In [146]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
start

array([43.3128, -1.975], dtype=object)

In [147]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(46.0, 3.5), zoom_level=5)
San_Sebastian = start
Soyaux = stop1
Vincennes = stop2
Hauterive = stop3 
roadtrip = gmaps.directions_layer(San_Sebastian, San_Sebastian, 
                                  waypoints=[Soyaux, Vincennes,Hauterive],
                                  travel_mode="DRIVING")

In [148]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
0,288,San Sebastian,ES,79.45,clear sky,43.3128,-1.9750,Hotel de Londres y de Inglaterra
1,391,Soyaux,FR,78.78,overcast clouds,45.6500,0.2000,Mercure AngoulÃªme - HÃ´tel de France
2,497,Vincennes,FR,75.92,clear sky,48.8500,2.4333,Aparthotel Adagio Paris Vincennes
3,176,Hauterive,FR,77.76,broken clouds,46.0901,3.4459,Aletti Palace Hotel

In [149]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [150]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(roadtrip)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [152]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))